@media only screen and (max-width: 480px) {
    .about {
        flex-direction:column;
        padding-bottom: 2em;
    }

    .booklist li {
        flex-direction: column;
    }
}

body {
    font-family: Alegreya, Garamomd;
    background-color:gainsboro;
}

a {
    color: mediumvioletred;
}

nav {
    border: 0;
    padding: 0;
    padding-bottom: 2em;
  
}

nav ul { 
    list-style-type: none;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: aliceblue;
}

nav ul li {

    padding: 0.5em;
    display: block;
    font-weight: bold;
}

nav li a {
    color:#7B3F00;
    text-decoration: wavy;
}

 .curvepic {
    border-radius: 40px;
}

a:hover, a:visited:hover {
    color: limegreen;
}

a:visited {
    color: blueviolet;
}


h1 {
    font-family: Prociono;
    text-align:center;
    font-size: 60px;
    color: #7B3F00;
    margin: 20px 30px;
}

h2 {
    margin: 0px 10px; 
}

h3 {
    margin: 0px 10px;
}

h4 {
    margin: 0px 10px;
}

p {
    margin: 0px 20px;
}

#intro {
    text-align: center;
}

.about {
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.indent {
    text-indent: 2em;
}


.booklist li {
    display: flex;
    text-align: center;

}

.booklist li img{
    margin: 2rem;
    display: flex;
    max-width: 200px;
}

.bookitem {
    display: flex;
}

.bookinfo {
    padding-top: 3rem;
}


footer {
    text-align: center;
}

@font-face {
    font-family: Prociono;
    src: url(Fonts/Prociono-Regular-webfont.ttf);
}

@font-face {
    font-family: Alegreya;
    src: url(Fonts/Alegreya/Alegreya-VariableFont_wght.ttf);
}

@font-face {
    font-family: Sniglet;
    src: url(Fonts/sniglet-master/Sniglet\ Regular.otf);
}

